.user {
  position: static;
  top: 500px;
  left: 300px;
  margin-bottom: 30px;
}
.buku {
  position: relative;
  top: -260px;
  left: -200px;
}

.may {
  position: relative;
  top: 500px;
  left: 300px;
}
.tari {
  position: relative;
  top: -260px;
  left: -200px;
}
