.fro {
  position: absolute;
  width: 445px;
  height: 445px;
  left: 473px;
  top: 123px;
  padding-top: 4px;

  background: #FFFFFF;
  box-shadow: 4px 4px 24px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.fro p {
  position: relative;
  top: 16px;
}
